PORT=3000
NODE_ENV=development
SESSION_SECRET=cpi_food_lpp_secret_key_2026_super_secure

# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=lpp_food_division
DB_CONNECTION_LIMIT=10

# Mode Fallback (Jika MySQL belum terinstall atau dalam CI/Unit Test)
DB_DRIVER=mysql
